In [7]:
import pandas as pd
df = pd.read_csv("../files/input/solicitudes_de_credito.csv", sep=";")
print(df.head())

   Unnamed: 0       sexo tipo_de_emprendimiento          idea_negocio  \
0           0  masculino               comercio           fabrica de
1           1   femenino               servicio  recreativo-educativo
2           2   femenino               comercio                tienda
3           3  Masculino               comercio            variedades
4           4   femenino               comercio           fabrica de

                   barrio  estrato  comuna_ciudadano fecha_de_beneficio  \
0                   prado        3              10.0         13/07/2018
1          barrio caicedo        1               9.0         30/10/2017
2                aranjuez        2               4.0          3/08/2017
3  cabecera san cristobal        3              60.0         20/11/2017
4                 robledo        2               7.0         23/02/2017

  monto_del_credito     línea_credito
0           5000000  microempresarial
1           6000000  microempresarial
2           7300000  microempresarial
3           7000000  microempresarial
4           5000000  microempresarial

In [30]:
for col in df.columns:
    if df[col].dtype == "object":
        df[col] = df[col].astype(str).apply(lambda x: x.strip().lower())


    else:
        df[col] = (
            df[col]
            .astype(str)
            .str.replace("$", "", regex=False)
            .str.replace(",", "", regex=False)
            .str.replace(" ", "", regex=False)
            .str.replace("-", "", regex=False)
        )


print(df.shape[0])
print(df.sexo.value_counts().to_list())


df.drop_duplicates(inplace=True)
print(df.shape[0])

10716
[6938, 3778]
10716

In [31]:
print(df.head(10))

  Unnamed: 0       sexo tipo_de_emprendimiento         idea_negocio  \
0          0  masculino               comercio            fabricade
1          1   femenino               servicio  recreativoeducativo
2          2   femenino               comercio               tienda
3          3  masculino               comercio           variedades
4          4   femenino               comercio            fabricade
5          5   femenino               comercio           variedades
6          6   femenino              industria            fabricade
7          7   femenino               comercio               tienda
8          8  masculino               comercio           variedades
9          9   femenino               comercio           variedades

                 barrio estrato comuna_ciudadano fecha_de_beneficio  \
0                 prado       3             10.0         13/07/2018
1         barriocaicedo       1              9.0         30/10/2017
2              aranjuez       2              4.0          3/08/2017
3  cabecerasancristobal       3             60.0         20/11/2017
4               robledo       2              7.0         23/02/2017
5             picachito       1              6.0         2017/05/31
6              guayabal       3             15.0         20/02/2016
7             carpinelo       1              1.0         14/02/2017
8            belalcazar       2              5.0          7/05/2018
9   manriquecentralno.1       1              4.0          2018/05/3

  monto_del_credito     línea_credito
0           5000000  microempresarial
1           6000000  microempresarial
2           7300000  microempresarial
3           7000000  microempresarial
4           5000000  microempresarial
5           7000000  microempresarial
6        2000000.00  microempresarial
7           3300000  microempresarial
8           7800000  microempresarial
9           7800000  microempresarial